
  <ion-tabs class="tabs-positive tabs-icon-top">

    <ion-tab href='#/tab/profile' title="Profile" icon-on="ion-ios-home" icon-off="ion-ios-home-outline">
      <ion-nav-view name="profile-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab href='#/tab/find' title="Find" icon-on="ion-ios-search-strong" icon-off="ion-ios-search">
      <ion-nav-view name="find-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab href='#/tab/settings' title="Settings" icon-on="ion-ios-gear" icon-off="ion-ios-gear-outline">
      <ion-nav-view name="settings-tab"></ion-nav-view>
    </ion-tab>

  </ion-tabs>
