<ion-tabs class="tabs-positive tabs-icon-top">

  <ion-tab href='#/tab/profile' title="Profile" icon-on="ion-ios-home" icon-off="ion-ios-home-outline">
    <ion-nav-view name="profile-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab href='#/tab/find' title="Find" icon-on="ion-ios-search-strong" icon-off="ion-ios-search">
    <ion-nav-view name="find-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab href='#/tab/messages' title="Messages" icon-on="ion-ios-paperplane" icon-off="ion-ios-paperplane-outline">
    <ion-nav-view name="messages-tab"></ion-nav-view>
  </ion-tab>

</ion-tabs>
